:root {
    --link: #FF6600;
    --active: #FF0000;
	--visited: #CC6600;
    --text: Black;
	--title-text: White;
    --bg: #fff;
    --titlebg: #ff9933;
	--bgimage: url(/messageboard/riceback.gif);
}
[data-theme="dark"] {
    --link: #b34802;
    --active: #FF0000;
	--visited: #a15102;
    --text: #bababa;
	--title-text: #bababa;
    --bg: black;
    --titlebg: #b34802;
	--bgimage: url(/messageboard/riceback_n.gif);
}

body {
	font-family: Verdana, Helvetica, sans-serif;
	color: var(--text);
	line-height: 135%;
	background: var(--bgimage) repeat fixed;
	/*background: url(http://www.f0e.net/images/tiling.gif) repeat fixed;*/
	background-color: var(--bg);
	font-size: x-small;	/* false value for WinIE4/5 */
	voice-family: "\"}\"";	/* trick WinIE4/5 into thinking the rule is over */
	voice-family: inherit;	/* recover from trick */
	font-size: small;	/* intended value for better browsers */
}

html>body .body {
  font-size: small;
}

a:link { color: var(--link); }
a:active { color: var(--active); }
a:visited { color: var(--visited); }

.main {
	color: var(--text);
	line-height: 130%;
	background-color: var(--bg);
	border: #cccc99;
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
}

html>body .main {
  font-size: small;
}

.title {
	font-weight: bold;
	color: var(--title-text);
	background-color: var(--titlebg);
	font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
}

html>body .title {
  font-size: x-small;
}

.newsdate {
        color: Blue;
        font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
}

html>body .newsdate {
  font-size: x-small;
}

.newstext {
		color: var(--text));
		font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
}

html>body .newstext {
  font-size: x-small;
}

.titlelarge {
    color: var(--title-text);
	line-height: 135%;
	background-color: var(--titlebg);
    font-size: large;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-large;
    font-weight: bold;
}

html>body .titlelarge {
  font-size: large;
}

.menu {
	background-color: #FFFFD6;
	vertical-align: top;
	width: 250px;
}

.info {
	background-color: var(--bg);
	vertical-align: top;
}

.borderoutline {
	background-color: #CCCC99;
}

.smallselect {
	font-size: xx-small;
}

.forminput,.smallselect {
}

.formsubmit {
}

.error {
  color: red;
  font-weight: bold;
}

.captcha {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  float: right;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main input{
	border: 1px solid Grey;
}

/* make sure we assign to everything */
body,
	.main,
	.main td,
	.main input,
	table.main,
	.main textarea {
		background-color: var(--bg);
		color: var(--text);
	}